@model IEnumerable<BookShop.Models.BookTypes>
@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Book Types List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp; New Book Types</a>
    </div>
</div>
<br />
<form asp-action="Index" method="post">
    <div class="row input-group">
        <input type="text" name="search" id="search" class="form-control" />
        <div class="input-group-btn">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>
<br />

<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>

            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>

                <td>
                    <partial name="_TableButtonPartial" model="item.ID" />
                </td>
            </tr>
        }
    </table>
</div>

