@model BookShop.Models.ViewModel.ShoppingCartViewModel

@{
    ViewData["Title"] = "ShipmentConfirmation";
}

<br />
<h2 class="text-info">Shipment Confirmation</h2>
<div class="form-text">
    Your shipment has been submitted. One of our awesome Sales Rep would be in touch shortly. Please feel free to contact us anytime you have any questions.
</div>
<br />

<partial name="~/Views/Shared/_ShipmentCustomerDetails.cshtml" model="Model.Shipments" />
<br />

<partial name="~/Views/Shared/_ShipmentBookDetails.cshtml" model="Model.Books" />

<a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-success"> Back to Products</a>
