@model BookShop.Models.Sources
@{
    ViewData["Title"] = "Details";
}


<br />
<h2 class=" text-info">Author Details</h2>

<div class="p-4 border rounded">
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Name"></label>
        </div>
        <div class="col-5">
            <input asp-for="Name" disabled name="form-control" />
        </div>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="City"></label>
        </div>
        <div class="col-5">
            <input asp-for="City" disabled name="form-control" />
        </div>
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Zip"></label>
        </div>
        <div class="col-5">
            <input asp-for="Zip" disabled name="form-control" />
        </div>
        <span asp-validation-for="Zip" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Phone"></label>
        </div>
        <div class="col-5">
            <input asp-for="Phone" disabled name="form-control" />
        </div>
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <br />
    <div class=" form-group">
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</div>

